@model IEnumerable<CMCS.Web.Models.Claim>

<h2 class="mb-3">My Claims</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Hours</th>
            <th>Rate</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Submitted</th>
            <th>Document</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in Model)
        {
            <tr>
                <td>@claim.HoursWorked</td>
                <td>R @claim.HourlyRate</td>
                <td><strong>R @(claim.HoursWorked* claim.HourlyRate)</strong></td>
                <td>
                    <span class="badge bg-secondary">@claim.Status</span>
                </td>
                <td>@claim.CreatedAt.ToShortDateString()</td>
                <td>
                    @if (!string.IsNullOrEmpty(claim.DocumentFileName))
                    {
                        <a class="btn btn-sm btn-outline-primary" href="/uploads/@claim.DocumentFileName" target="_blank">View</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>